
<table class="first-table">
    <thead>
    <tr>
        <th>Reason</th>
        <th>DateLeave</th>
        <th>File Date</th>
        <th>Status</th>
        <th>Duration</th>
        <th>Action</th>
        <th>Total Leave Balance</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let leave of myLeaves.content" >
        <td>{{leave.reason}}</td>
        <td>{{leave.startDate + " - " + leave.endDate}}</td>
        <td>{{leave.fileDate}}</td>
        <td>{{leave.status}}</td>
        <td>{{leave.duration}}</td>

        <td>
            <button *ngIf="leave.status !== 'APPROVED' && leave.status !== 'REJECTED'" [routerLink]="['/user/leave']"><span class="button-edit" >Edit</span></button>
            <button *ngIf="leave.status !== 'APPROVED' && leave.status !== 'REJECTED'" class="accept-button" (click)="updateEmployeeLeave(leave.id, 'CANCELLED')" ><span class="button-cancel">CANCEL</span></button>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>

<div>

</div>
