
<table class="first-table">
    <thead>

    <tr>
        <th>Date Leave</th>
        <th>Reason</th>
        <th>Total Leave</th>
        <th>Status</th>
        <th>File Date</th>
        <th>Actions</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let leave of myLeaves.content" >
        <td>{{leave.startDate + " - " + leave.endDate}}</td>
        <td>{{leave.reason}}</td>
        <td>{{leave.duration}}</td>
        <td>{{leave.status}}</td>
        <td>{{leave.fileDate}}</td>
        <td>
            <button *ngIf="leave.status !== 'APPROVED' && leave.status !== 'REJECTED'" class="accept-button" (click)="updateEmployeeLeave(leave.id, 'CANCELLED')">CANCEL</button>
        </td>


    </tr>
    </tbody>
</table>
<div> <button routerLink="/user">Back</button></div>
