

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  height: 100%;
  position: fixed;
    font-family: sans-serif;
}

.admin-calendar {
    width: 80%;
    margin: 0 auto;
}

.sidebar h2 {
    margin: 30px 50px;
    text-align: center;
}

.navHead {
    font-weight: bold;
    padding: 10px 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
    transition: 0.25s all;
    border-left: 5px solid #333;
}

.sidebar a:hover {
  background-color: #555;
    cursor: pointer;
    border-left: 5px solid white;
    transition: 0.25s all;
}

.sidebar a.active {
    background-color: #555;
    border-left: 5px solid #4CAF50;
    transition: 0.25s all;
}

.actions button {
  padding: 20px 30px;
    width: 100%;
    margin: 20px 0;
    text-align: left;
  background-color: inherit;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
    position: absolute;
    bottom: 0;
    border-left: 5px solid #333;
    transition: 0.25s all;
}

.actions button:hover {
    background-color: #555;
    cursor: pointer;
    border-left: 5px solid white;
    transition: 0.25s all;
}

.content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.body {
    height: 100%;
    width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
    font-family: sans-serif;
}

.formItem {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 20px 100px;
  background-color: #333333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

tr th:nth-child(1), tr td:nth-child(1) {
    text-align: center;
    min-width: 50px;
}

tr th:nth-child(2), tr td:nth-child(2) {
    min-width: 200px;
}

tr th:nth-child(3), tr td:nth-child(3) {
    min-width: 120px;
}

tr th:nth-child(4), tr td:nth-child(4) {
    text-align: center;
    min-width: 100px;
}

tr th:nth-child(5), tr td:nth-child(5) {
    text-align: center;
    min-width: 150px;
}

tr th:nth-child(6), tr td:nth-child(6) {
    text-align: center;
    min-width: 150px;
}

.leave-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.leave-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.leave-card-header {
    margin-bottom: 10px;
}

.leave-card-title {
    font-size: 18px;
    margin: 0;
}

.leave-card-dates {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.leave-card-body {
    margin-top: 10px;
}

.leave-card-reason {
    font-size: 14px;
    margin: 0;
}


.calendar {
    width: 300px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.day {
    width: 40px;
    text-align: center;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.date {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
}

.selected-date {
    margin-top: 20px;
}
.accept-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.reject-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.viewLeaves, .createEmployee {
    width: 100%;
    display: flex;
    justify-content: center;
}

.viewLeaves div, .createEmployeeChild{
    width: 55%;
}

