
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100%;
    position: fixed;
    font-family: sans-serif;
}

.sidebar h2 {
    margin: 30px 50px;
    text-align: center;
}

.navHead {
    font-weight: bold;
    padding: 10px 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    transition: 0.25s all;
    border-left: 5px solid #333;
}

.sidebar a:hover {
    background-color: #555;
    cursor: pointer;
    border-left: 5px solid white;
    transition: 0.25s all;
}

.sidebar a.active {
    background-color: #555;
    border-left: 5px solid #4CAF50;
    transition: 0.25s all;
}

.actions button {
    padding: 20px 30px;
    width: 100%;
    margin: 20px 0;
    text-align: left;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 0;


}

.actions button:hover {
    background-color: #555;
    cursor: pointer;
    border-left: 5px solid white;
    transition: 0.25s all;
}

.userSelectorDropdown {
    margin-bottom: 20px;
    width: 100%;
}

.userSelectorDropdown select {
    border-radius: 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    font-family: sans-serif;
}

.nameHeader {
    margin: 10px 40px;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container th, .container td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.container th {
  font-weight: bold;
  background-color: #f2f2f2;
}

.container td {
  background-color: #fff;
}


.container button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: black;
  color: white;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.container button:last-child {
  margin-right: 0;
}

.container button:hover {
  opacity: 0.8;
}

.container button[data-action="accept"]:hover {
  background-color: green;
}

.container button[data-action="reject"]:hover {
  background-color: red;
}
