
<div class="sidebar">
    <h2>LeaveApp</h2>
    <br />
    <div class="userSelectorDropdown">
        <select (ngModelChange)="showUserPage($event)" [ngModel]="selectedUser">
            <option value="undefined" disabled selected hidden>{{ userManager.name }} ({{ userManager.role.charAt(0) + userManager.role.slice(1).toLowerCase() }})</option>
            <option *ngFor="let user of userList" [ngValue]="user">{{ user.name }} ({{ user.role.charAt(0) + user.role.slice(1).toLowerCase() }})</option>
        </select>
    </div>
    <ul>
        <li class="navHead">Leave</li>
        <li><a (click)="navigatePage('viewMyLeave')" [ngClass]="{'active': page === 'viewMyLeave'}">View My Leaves</a></li>
        <li><a (click)="navigatePage('applyLeave')" [ngClass]="{'active': page === 'applyLeave'}">Apply Leave</a></li>

        <li class="navHead">Employee</li>
        <li><a (click)="navigatePage('viewMyEmployeeLeave')" [ngClass]="{'active': page === 'viewMyEmployeeLeave'}">View My Employee Leave</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>Welcome, Manager {{ userManager.name }}!</h1>
      <app-leave *ngIf="page == 'applyLeave'" [userDetails]="userManager"></app-leave>




    <div class="actions">
        <button routerLink="user">&#8656; &nbsp; Back</button>
    </div>
</div>

<div class="content">
  <div class="body">
      <app-leave *ngIf="page == 'applyLeave'" [userDetails]="userManager"></app-leave>

      <app-my-leave *ngIf="page == 'viewMyLeave'" [userId]="userId"></app-my-leave>

      <app-view-my-employee-leave *ngIf="page == 'viewMyEmployeeLeave'" [managerId]="userId"></app-view-my-employee-leave>

  </div>
</div>
