<div class="landingPage">
    <h1>Leave Application</h1>
  <div class="userSelector">
    <div class="user" id="admins">
        <h2>Admin</h2>
        <div class="scrollable">
      <div class="userItem" *ngFor="let admin of adminList" (click)="showUserPage(admin)">
        <p>&nbsp; &nbsp; &nbsp;{{ this.admin.name }}</p>
      </div>
        </div>
    </div>
    <div class="user" id="managers">
        <h2>Manager</h2>
        <div class="scrollable">
      <div class="userItem" *ngFor="let manager of managerList" (click)="showUserPage(manager)">
        <p>&nbsp; &nbsp; &nbsp;{{ this.manager.name }}</p>
      </div>
        </div>
    </div>
    <div class="user" id="employees">
        <h2>Employee</h2>
        <div class="scrollable">
      <div class="userItem" *ngFor="let employee of employeeList" (click)="showUserPage(employee)">
        <p>&nbsp; &nbsp; &nbsp;{{ this.employee.name }}</p>
      </div>
        </div>
    </div>
  </div>
</div>
