<div class="landingPage">

  <div class="userSelector">
    <h1>Select User</h1>

    <div class="user" id="admins">
      <div class="userAdmin" *ngFor="let admin of adminList" (click)="showUserPage(admin)">
        <p>{{ this.admin.id }} - {{ this.admin.name }} - {{ this.admin.role }}</p>
      </div>
    </div>
    <div class="user" id="managers">
      <div class="userAdmin" *ngFor="let manager of managerList" (click)="showUserPage(manager)">
        <p>{{ this.manager.id }} - {{ this.manager.name }} - {{ this.manager.role }}</p>
      </div>
    </div>
    <div class="user" id="employees">
      <div class="userAdmin" *ngFor="let employee of employeeList" (click)="showUserPage(employee)">
        <p>{{ this.employee.id }} - {{ this.employee.name }} - {{ this.employee.role }}</p>
      </div>
    </div>
  </div>
</div>
