<div class="landingPage">
    <h1>Leave Application</h1>
    <div class="selection">
        <div class="roleSelector">
            <button [ngClass]="{'active': selectedRole === 'all'}" (click)="selectRole('all')">
                <p>All</p>
            </button>
            <button [ngClass]="{'active': selectedRole === 'admin'}" (click)="selectRole('admin')">
                <p>Admin</p>
            </button>
            <button [ngClass]="{'active': selectedRole === 'manager'}" (click)="selectRole('manager')">
                <p>Manager</p>
            </button>
            <button [ngClass]="{'active': selectedRole === 'employee'}" (click)="selectRole('employee')">
                <p>Employee</p>
            </button>
        </div>

        <div class="userSelector">
            <div class="userItem" *ngFor="let user of userFilter" (click)="showUserPage(user)">
                {{ user.name }} - ({{ user.role.charAt(0) + user.role.slice(1).toLowerCase() }})
            </div>
        </div>
    </div>
</div>
