.landingPage {
    margin: 0;
    padding: 50px;
}

.landingPage h1 {
    text-align: center;
    font-family: sans-serif;
    margin: 50px 20px;
}

.selection {
    display: flex;
    justify-content: center;
}

.selection div {
    margin: 10px;
}

.roleSelector {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.userSelector {
    width: 30%;
    padding: 10px;
    background-color: #555555;
    height: 360px;
    overflow: auto;
    border-radius: 15px;
}

.userItem {
    background-color: #cccccc;
    padding: 20px;
    border-radius: 15px;
    transition: 0.2s all;
}

.userItem:hover {
    background-color: #888888;
    cursor: pointer;
}

.roleSelector button {
    margin: 5px;
    border-radius: 20px;
    background-color: #555555;
    border: none;
    color: white;
    transition: 0.2s all;
    margin-left: 50%;
    width: 50%;
}

.roleSelector button:hover {
    cursor: pointer;
    background-color: #888888;
}

.roleSelector button.active {
    background-color: #888888;
}
