.landingPage {
  display: flex;
  justify-content: space-between;
}

.user {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: black;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 300px;
  height: 200px;
  padding: 20px;
}

.user:hover {
  transform: translateY(-5px);
}

.userAdmin {
  text-align: center;
}

.userAdmin p {
  margin: 0;
  font-weight: bold;
}

.userAdmin p span {
  font-weight: normal;
}
