<div class="container">
  <h1>Apply Leave</h1>
  <form [formGroup]="leaveForm" (ngSubmit)="OnSubmit()">
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" formControlName="startDate">
    </div>
    <div class="form-group">
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" formControlName="endDate">
    </div>
    <div class="form-group">
      <label for="reason">Reason:</label>
      <textarea id="reason" formControlName="reason"></textarea>
    </div>
      <div class="form-group">
          <label for="totalDaysLeave">Total Days Leave:</label>
          <input type="text" id="totalDaysLeave" [value]="calculateTotalDays()" readonly formControlName="totalDaysLeave">
      </div>
    <button type="submit" [disabled]="leaveForm.invalid">Submit</button>
  </form>
</div>
