<div>
    <div>
        <h1>Welcome! Employee Name</h1>
        <a href="#">View All Leave</a>
    </div>


    <div class="body">
        <table class="first-table">
            <thead>
            <tr>
                <th>Manager</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Earned Leave</th>
                <th> Total Leave Days</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td >Ernest</td>
                <td >
                    <input type="date"
                           id="startDate"
                    ></td>
                <td >
                    <input type="date"
                           id="endDate"
                    ></td>
                <td >Type of Leave</td>
                <td> 0</td>
                <td >20</td>
                <td>For Approval</td>

            </tr>
            </tbody>
            <button type="submit" (click)="submitButton()">Submit</button>
            <button type="reset">Clear</button>
        </table>
    </div>
</div>



